:root {
    --main-color: #ffffff;
    --secondary-color: #1f4f46;
    --gray-detail:#dddddd;
}

.hidden{
    display: none;
}

.disapear{
    opacity: 0;
}

*, *::after, *::before{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-family: 'Lato', sans-serif;
    overflow-x: hidden;
}


.navigation{
    height: 8vh;
    background-color: var(--main-color);
    display: flex;
    flex-direction: row;
    color: var(--secondary-color);
    justify-content: space-between;
    align-items: center;
}

.navigation--fixed{
    position: fixed;
    width: 100%;
}

.navigation__area{
    font-size: 1.4rem;
    margin-left: 1rem;
}

.navigation__area__logo-text{
    cursor: pointer;
    text-decoration: none;
    color: inherit;
    letter-spacing: 0px;
    margin-right: 3.5rem;
}

.navigation__menu{
    list-style: none;
    display: inline-block;
}

.navigation__menu__item{
    display: inline-block;
}

.navigation__menu__item__text{
    text-decoration: none;
    color: inherit;
    font-size: 1rem;
    font-weight: 800;
    margin-left: 2rem;
}

.button{
    text-decoration: none;
    color: var(--main-color);
    display: inline-block;
    background-color: var(--secondary-color);
    padding: 6px 18px;
    border-radius: 6px;
    font-weight: bold;
    margin-right: 1rem;
}

.carousel{
    width: 100%;
    height: 85vh;
}

.carousel__row{
    width: inherit;
    height: inherit;
}

.carousel__image1{
    width: 100%;
    height: 100%;
    background-image: url('../img/salad.jpg');
    background-size: cover;
}

.footer__nav{
    height: 6.5vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__nav__menu{
    list-style: none;
}

.footer__nav__menu__text{
    text-decoration: none;
    color: var(--secondary-color);
    padding: 10px;
    border-left: 1px solid var(--gray-detail);
}

.modal{
    width: 100%;
    height: 100%;
    filter: blur(5px);
}

.modal__area{
    width: 50vw;
    height: 43vh;
    background-color: var(--main-color);
    z-index: 100;
    position: fixed;
    top: 25%;
    left:25%;
    transform: translateY(-200%);
    transition: all 1s ease-in-out;
}

.modal__area__content{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: inherit;
    height: inherit;
    align-items: center;
}

.modal__area__header{
    color: var(--secondary-color);
    font-size: 2.5rem;
}

.modal__area__description{
    color: #777777;
}

.modal__area__inputs{
    width: inherit;
    display: flex;
    justify-content: space-evenly;
}

.modal__area__inputs__textbox{
    border: 0px;
    border-bottom: 2px solid var(--gray-detail);
    font-size: 1.5rem;
    width: 40%;
    line-height: 50px;
}

.button--modal{
    padding: 1rem 4.5rem;
    font-size: 1.2rem;
    font-weight: 400;
}

/*Menu page*/
.hero {
    width: 100vw;
    height: 45vh;
    background-size: cover;
    background-position-y: 51% ;
}

.hero__content{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 60%;
    justify-content: space-between;
    align-items: center;
}

.hero__content__region-links{
    margin-top: 3rem;
    color: var(--main-color);
}

.links__white{
    text-decoration: none;
    color: var(--main-color);
    font-size: 1rem;
    font-weight: bold;
    text-transform: uppercase;
}

.hero--menu-1{
    background-image: url('../img/bowl.jpg');
}

.hero__content__headers{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.hero__content__text{
    color: var(--main-color);
    font-size: 3rem;
    font-weight: 200;
}

.hero__content__text--bold{
    font-weight: bold;
}

.section__menu{
    width: 100%;
    height: 50vh; 
    margin-top: 3rem;
}

.section__menu--single-row{
    height: 30vh;
}

.section__menu__area{
    width: 60%;
    height: inherit;
    margin: 0 auto;
}

.section__menu__area__grid{
    display: grid;
    width: 100%;
    height: 100%;
    column-gap: 3rem;
    align-items: center;
}

.grid--3x3{
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(3,31%);
}

.grid--3x2{
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: repeat(2,48%);
}

.grid--3x1{
    grid-template-columns: repeat(3, 31%);
    grid-template-rows: 60%
}

.grid__item__header{
    color: var(--secondary-color);
    margin-bottom: .3rem;
}

.grid__item__cal{
    font-size: .8rem;
    font-weight: bold;
    
}

.grid__item__desc{
    font-weight: 300;
    margin-top: 1rem;

}

.hero--menu-2{
    background-image: url('../img/salad.jpg');
}

.section__menu__area_header{
    font-weight: 300;
    font-size: 2rem;
    text-align: center;
    font-size: 2.2rem;
    text-transform: uppercase;
    
}

.section__menu__left{
    position: fixed;
    top: 15vw;
}

.section__menu__left__area{
    width: 10vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.section__menu__left__item{
    list-style: none;
    cursor: pointer;
    background: var(--secondary-color);
    display: inline-block;
    width: 100%;
    padding: 2vh 0 2vh 1vw ;
    color: #dddddd;
    text-transform: uppercase;
    border-top-right-radius: .5vw;
    border-bottom-right-radius: .5vw;
    opacity: 0.6;
    transition: opacity .3s ease-in-out;
}

.section__menu__left__item--active{
    opacity: 1;
}

